/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	
	color: black;
}
.navbar-default {
  background-color:red;

 }
.navbar a:hover {
  background-color: black;
  color: black;
}

.navbar a.active {
  background-color: #D5F5E3;
  color: black;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
	
}


/* Set background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #D5F5E3; /*this is the blue background thing*/
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: white;
	color: #17202A;
	/* padding: 15px; */
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}





